@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">Секретный Санта</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-page="/Control" title="Control">Управление</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-page="/Start" title="SendEmails">Старт</a>
						</li>
						<li class="nav-item">
							<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
								<button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
}