@page
@model ErrorModel
@{
	ViewData["Title"] = "Ошибка";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:80vh; overflow:hidden;">
	<div class="home-container text-center">

		<h1 class="text-danger">Ошибка</h1>
		<p>Произошла ошибка во время выполнения запроса.</p>
		@if (Model.ShowRequestId)
		{
			<p>
				<strong>ID запроса:</strong> <code>@Model.RequestId</code>
			</p>
		}
		@if (Model.message != null)
		{
			<p>
				<strong>Ошибка:</strong> <code>@Model.message</code>
			</p>
		}
		<a class="text-info no-link" asp-page="/Index">Вернуться</a>

	</div>
</div>