@page
@model razor_secret_santa.Pages.UnsubscribeModel
@{
	ViewData["Title"] = "Отписка от рассылки";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:80vh; overflow:hidden;">
	<div class="home-container text-center">

		<h1 class="text-info">Успешно</h1>
		<p>Вы успешно отписаны от рассылки.</p>

	</div>
</div>